.badge{
    @include flex-center(true);

    column-gap: 2xp;
    padding: 6px 10px;
    width:fit-content;      
    font-size: fluid-to-laptop(14,12);
    font-weight: 500;
    line-height: 1;
    color: var(--color-gray-60);
    white-space: nowrap;
    background-color: var(--color-black-08);
    border: var(--border);
    border-radius: 50px;
    &--accent{
        color: var(--color-white);
        background-color: var(--color-red-45);
        border: none;
        border-radius: var(--border-radius-xxs);
        
        @include laptop{
            border-radius: var(--border-radius-xxxs);
        }
    }

   

    @include mobile{
        padding-inline: 8px;

    }

    &--big{
        padding: fluid-to-laptop(10,8);
        font-size: fluid-to-laptop(16,12);
        font-weight: 600;
    }
    &--icon{
        --iconsize: #{fluid-to-laptop(24,20)}
    }
}



.categories__title{
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: fluid-to-laptop(4,2);
    font-size: inherit;
    font-weight: 600;
    
}