.rating-view {
    --ratingViewValue: 5;
    display: flex;
    align-items: center;
    column-gap: 4px;

    &__stars{
        position: relative;

        &-filled{
            --ratingViewStarsclipEnd: calc(100% /5 * var(--ratingViewValue));

            @include abs-cover; //прикольно
            clip-path: polygon(
             0 0,
             var(--ratingViewStarsclipEnd) 0,
             var(--ratingViewStarsclipEnd) 100%,
             0 100%

            );

        }
    }
}