.review-card{
    background-color: var(--color-black-06);
    border-radius: 12px;
    border: var(--border);
    &__inner{
        padding: fluid(40,24);
        display: flex;
        flex-direction: column;
        gap:fluid-to-laptop(20,16);
        align-items: space-between;

        
    }
    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 10px;
        font-weight: 500;
        

    }

    
}
