.field{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:fluid-to-laptop(16,12);
    &__title{
        font-weight: 600;
        color:var(--color-white);
        font-size: fluid-to-laptop(18,16);
    }

    &__textarea{
        background-color: var(--color-black-08);
        border-radius: fluid-to-laptop(8,6);
        
        min-height: fluid(163,109);
        resize: vertical;
        padding-inline: fluid-to-laptop(20,16);
        padding-block: fluid-to-laptop(20,16);
        color: var(--color-gray-60);
        width: 100%;


        
        

        
        border: var(--border);
    }

    &__input{
        display: flex;
        column-gap: fluid-to-laptop(16,12);
        width: 100%;
       
        &-control{
            background-color: var(--color-black-08);
            border-radius: fluid-to-laptop(8,6);
            width: 100%;
            height: fluid-to-laptop(67,53);
            border: var(--border);  
            color: var(--color-gray-60);
            padding-inline: fluid-to-laptop(20,16);

            @include hover{
                border-color: var(--color-white);
            }
          &:user-invalid{
            
          }
          &:disabled{
            opacity: 0.5;
            cursor:not-allowed;
          }

          &::placeholder{
            color: var(--color-gray-60);
          }
        }
       
        
    }
    &__required-star{
        color:var(--color-red-45);
    }

}